@import "../../style.main";


.pay-form-container {
  display: flex;
  justify-content: center;
  height: inherit;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .submit-form {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    button {
      min-width: 150px;
      background-color: $borderColor;
      padding: 10px 20px;
      font-family: $mainFontFamily;
      font-size: 1.125em;
      border-radius: 10px;
      border: 2px solid $borderColor;
      cursor: pointer;
      outline: none;

      img {
        width: 24px;
        height: 24px;
      }
    }

    button:hover {
      background-color: $mainPalette;
      border: 2px solid $borderColor;
    }

    button:disabled {
      color: grey;
    }

    .notification-green {
      color: green;
      font-size: 1.2em;
      padding: 0 10px;
      font-family: $mainFontFamily;

    }
  }

}